<div>
	<%= form_for @payment do |f| %>
	
	<div>	
		<%= f.label :payment_method, 'お支払い方法' %><br />
    <%= f.select :payment_method, PaymentMethod::PAYMENT_METHOD, {prompt: 'お支払い方法を選択してください'}, {class: "payment-form"} %>
  </div>
  
  <div>
  	<%= f.label :name, 'ブランド名' %><br />
  	<%= f.select :name, PaymentMethod::CREDITCARDBRAND, {prompt: 'ブランド名を選択してください'}, {class: "payment-form"} %>
  </div>
  
	<div>
		<%= f.label :card_number, 'カード番号' %><br />
		<%= f.text_field :card_number, autofocus: true, autocomplete: "card_number", class: "payment-form" %>
	</div> 
	
	<div>
		<%= f.label :security_code, 'セキュリティーコード' %><br />
		<%= f.text_field :security_code, autofocus: true, autocomplete: "off", class: "payment-form" %>
	</div>
	
	<div>
		<%= f.label :period, '有効期限' %><br />
		<%= f.date_select(:period, discard_day: true , use_month_numbers: true, start_year: 18, end_year: 99, date_separator: "/") %>
	</div>
   
  <% end %>
</div>