<div class="mypage-info mypage-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :name_kana, '氏名(カナ)' ,class: "control-label" %>
    <%= f.text_field :name_kana, autofocus: true,  class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :name_kanji, '氏名(漢字)' ,class: "control-label" %>
    <%= f.text_field :name_kanji, autofocus: true, size: 40 , class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :telphone, '電話番号(ハイフン不要)' ,class: "control-label" %>
    <%= f.text_field :telphone, autofocus: true, class: "form-control" %>
  </div>
  
  <form>
    <div class="field">
      <%= f.label :zip_code, '郵便番号(ハイフン不要)' ,class: "control-label" %>
      <%= f.text_field :zip_code, autofocus: true, class: "form-control"%>
    </div>
  
    <div class="field">
      <%= f.label :prefecture, '都道府県' ,class: "control-label" %>
      <%= f.text_field :prefecture, autofocus: true, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :city, '市区町村' ,class: "control-label" %>
      <%= f.text_field :city, autofocus: true, class: " form-control" %>
    </div>

    <div class="field">
      <%= f.label :address1, '住所(丁目番地)' ,class: "control-label" %>
      <%= f.text_field :address1, autofocus: true, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :address2, '建物名・部屋番号(マンション名など)' ,class: "control-label" %>
      <%= f.text_field :address2, autofocus: true, class: "form-control",placeholder: '◯○○マンション○○○号室' %>
    </div>
 
    <div class="field field-center">
      <%= f.submit "保存", class: "btn btn-large btn-primary" %>
    </div>
  </form>
<% end %>
</div>


<script>
$(window).ready( function()
  {
    $("#user_zip_code").jpostal({
　　postcode : [ "#user_zip_code" ],
　　address : {
　　　　　　　"#user_prefecture" : "%3",
　　　　　　　"#user_city" : "%4%5",
　　　　　　　}
　})
  });

$( document ).ready( function()
  {
	// 姓名 (カタカナ)
	$.fn.autoKana( "#user_name_kanji", "#user_name_kana", {
		katakana : true
	});
 
});

</script>
