<% provide(:title, 'Sign up') %>
<div class="contents-center">
<div class="sign-up">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :name_kana, '氏名(カナ)' ,class: "control-label" %>
    <%= f.text_field :name_kana, autofocus: true, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :name_kanji, '氏名(漢字)' ,class: "control-label" %>
    <%= f.text_field :name_kanji, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :password, 'パスワード(6文字以上)' ,class: "control-label" %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation, 'パスワード(確認)' , class: "control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  
  <div class="actions">
    <%= f.submit "アカウント作成" %>
  </div>
<% end %>
</div>
</div>