<% provide(:title, 'Mylists') %>
<div class='mylist-show'>
  <p>マイリスト</p>
  <div>
    <table align='center'>
    <% @mylists.each do |mylist| %>
     <tr>
       <td>登録日: <%= mylist.created_at.strftime('%Y年%m月%d日') %></td>
       <td><%= image_tag(mylist.product.image_url.to_s, class: 'mylist-image-tag')%></td>
       <td><%= mylist.product.name %></td>
       <td><%= mylist.product.sale_price %>円</td>
       <td><%= link_to "商品ページに飛ぶ", product_path(mylist.product.id), {class: 'btn btn-large btn-primary mylist-jump'} %></td>
       <td><%= button_to "マイリストから削除", mylist_path(mylist),  { method: "delete", class: 'mylist-del-btn'} %></td>
     </tr>
    <% end %>
    </table>
  </div>
</div>