<% provide(:title, 'Orders') %>
<div class = 'order-index'>
<div class = "">
<% if @orders.present? %>  
  <%@orders.each do |order|%>
    <div class='order-display'>
    <div class='m-topi'>注文日<%=order.created_at.strftime('%Y年%m月%d日')%></div>
    <table align = 'center'>
    <% order.cart_items.each do |item|%>
    <tr>
      <td><%= image_tag(item.product.image_url.to_s, class: 'order-image-tag')%></td>
      <td><%= item.product.name %></td>
      <td><%= item.product.sale_price.to_s(:delimited) %>円</td>
      <td><%= item.quantity %>個</td>
      <td><span class='post-review'><%= link_to "レビューを投稿する", new_review_path(product_id: item.product.id), class: 'review_post' %></span></td>
    </tr>                                                            
    <%end%>
    </table>
      <div>合計金額：<%= order.total_price.to_s(:delimited) %>円</div>
      <div><%=link_to "詳細を見る(発送状況)", order_path(order)%></div>
    </div>
  <%end%>
<% else %>
  <p>注文履歴はありません。</p>
<% end %>
</div>
</div>