<div class = "mypage-info">
 
  <%= form_for @order, url:{action: 'confirm'} do |f| %>
  <p>お届け先住所</p>
  <div class="field">
    <%= f.label :addressee_name_kana, '氏名(カナ)' ,class: "control-label" %>
    <%= f.text_field :addressee_name_kana %>
  </div>
  
  <div class="field">
    <%= f.label :addressee_name_kanji, '氏名(漢字)' ,class: "control-label" %>
    <%= f.text_field :addressee_name_kanji %>
  </div>
  
  <div class="field">
    <span class="p-country-name" style="display:none;">Japan</span>
    <%= f.label :addressee_zip_code, '郵便番号' ,class: "control-label  p-postal-code" %>
    <%= f.text_field :addressee_zip_code%>
  </div>
  
  <div class="field">
    <%= f.label :addressee_prefecture, '都道府県' ,class: "control-label" %>
    <%= f.text_field :addressee_prefecture %>
  </div>

  <div class="field">
    <%= f.label :addressee_address1, '住所(丁目番地)' ,class: "control-label" %>
    <%= f.text_field :addressee_address1 %>
  </div>
  
  <div class="field">
    <%= f.label :addressee_address2, '建物名・部屋番号(マンション名など)' ,class: "control-label" %>
    <%= f.text_field :addressee_address2 %>
  </div>

  <div class="field">
    <%= f.label :pay_type, 'お支払い方法', class: "control-label" %><br />
    <%= f.select :pay_type, Order::PAY_TYPE, prompt: 'お支払い方法を選択してください', class: "pay-type" %>
  </div>
  
  <div class="field field-center">
    <%= f.submit "次へ", class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
  
</div>