<% provide(:title, 'Cart')%>
<div class = "cart-show">
 <div class = "cart-display">
  <% if @cart_items.any? %>
   <table align = "center">
     <% @cart_items.each do |item| %>
      <tr>
        <td><%= image_tag(item.product.image_url.to_s, :class => "cart-image-tag")%></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.sale_price.to_s(:delimited) %>円</td>
        <td>
          <%= form_tag(cart_item_path(product_id: item.product_id),{:method=> "patch"}) do %>
            <%= number_field_tag :quantity, item.quantity, in:1..10, :class=> "count"  %>
            <%= label :quantity, "個", :class=> "count-text" %>
            <%= submit_tag "変更する",  :class=> 'cart-btn' %>
          <% end %>
        </td>
        <td><%= button_to "削除", cart_item_path(item) ,{ :method=> "delete", :class=>'cart-btn item-del'} %></td>
      </tr>
     <% end %>
   </table>
   <div><%= link_to "買い物を続ける", products_path, :class =>"cart-panel btn btn-large btn-primary" %> </div>  
 <% else %>
   <h1 class = "cart-msg">カートは空です</h1>
   <div><%= link_to "商品を選択する", products_path, :class =>"btn btn-large btn-primary cart-msg" %> </div>  
 <% end %>
 <div class='page'>
  <%= paginate @cart_items %>
 </div>
</div>
 
 <div class = "cart-order">
    <p class = "order-total">合計：<%= @cart.total_price.to_s(:delimited) %>円</p>
    <%= button_to '注文画面に進む', new_order_path, method: :get, class: 'btn btn-large btn-primary' %>
    <%= button_to 'カートを空にする', @cart, method: :delete, class: 'destroy-cart' %>    
 </div>
</div>