<% provide(:title, 'Sign in') %>
<div class="sign-in-up-wrap">
<h2>Sign in</h2>
<div class="sign-in-up">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "up-form"  %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "up-form"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>

<p class="f-u"><%= link_to "初めてご利用の方",  new_user_registration_path, :class =>"s-i-btn" %></p>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "パスワードをお忘れの方", new_password_path(resource_name), :class =>"s-i-btn p-s" %><br />
<% end -%>

</div>
</div>