<div class="menu">
<nav>
   <ul>
       <li><%= link_to "本・雑誌", products_path,:class =>"list" %> </li>
       <li><%= link_to "食品", products_path,:class =>"list" %> </li>
       <li><%= link_to "衣類", products_path,:class =>"list" %> </li>
       <li><%= link_to "家電", products_path,:class =>"list" %> </li>
       <li><%= link_to "玩具", products_path,:class =>"list" %> </li>
   </ul> 
</nav>
</div>

<div class="product-contents">
 
  <div class="left">
    <%= image_tag(@product.image_url.to_s, :class => "show-image-tag left") %>
    <div class="back-image"></div>
      <div class="review-coments">
       <div class="m-review-main">
        <p class="m-review-rank">評価：<span><%= @review_rank %></span></p>
        <p class="all-review">レビュー数: <%= @product.reviews.count %> 件
          <span><%= link_to "<全てのレビューを見る>", reviews_path(product_id: params[:id]), :class => "review_show"%></span>
        </p>
       </div>    
        <div class="m-review">
         <% if @last_review.present? %>
         <p class="m-review-name">投稿者：<%=@last_review.name%><span>レビュー投稿日 : <%= @last_review.created_at.strftime('%Y/%m/%d') %></span></p>
          <p class="m-review-title" >評価：<%= @last_review.rank %><span><%= @last_review.title %></span></p>
          <p class="m-review-desc"><%= @last_review.description %></p>
         <% else %>
          <p class="review-title">レビューはありません</p>
         <% end %>   
        </div>
       
    </div>      
  </div>
    

  <ul class="right">
   <li>
       <p class ="product-name"><%= @product.name %></p>
   </li>
   <li>       
       <p class="sale-price">価格：<span class="price"><%= @product.sale_price.to_s(:delimited) %></span><span class="price-unit">円</span> 在庫:<span class="stock"><%= @stock %><span></p>
       
       <div class="sub-box">
        
           <%= form_tag(cart_items_path(product_id: @product.id)) do %>
             <%= label :quantity, "注文個数 : ", :class=> "count-text" %>
             <%= number_field_tag :quantity, 1 , in:1..10, :class=> "count"  %>
             <%= submit_tag "カートに入れる",  :class=> 'btn btn-large btn-primary add-cart' %>
           <% end %>
             
           
           <% if @mylist %>
           　<%= button_to "マイリスト解除", mylist_path(product_id: @product.id) , {:method=> "delete", :class=>'mylist-btn'} %>　
           <% else %>
             <%= button_to "マイリスト登録", mylists_path(product_id: @product.id) , {:class=>'mylist-btn'} %>
           <% end %>
           
       </div>
   </li>
   <li>
     <div class="product-description">
       <p>商品説明</p>
       <p class ="description" ><%= @product.description %></p> 
     </div>
   </li>
   <li>
     <div class="product-info">
       <p>商品情報</p>
       <div class = "product-info-desc">
         <p>商品コード:　<%= @product.code %></p>
         <p>メーカー:　<%= @product.company %></p>
       </div>
    </div>
   </li>
  </ul>
 </div>
</div>