<% provide(:title, 'Review') %>
<div class="review-index">
	<% if @review_rank.present? %>
  	<p class="review-index-rank">レビュー評価:　<span><%= @review_rank %></span></p>
  <%else%>
    <p class="review-index-rank">評価：<span>0.0</span></p>
    <p>レビューがありません</p>
  <%end%>
	
	<% @reviews.each do |review| %>
	<ul>
	 <li class="m-review-index">
	 	 <p class="m-review-name">投稿者：<%= review.name%><span>レビュー投稿日 : <%= review.created_at.strftime('%Y/%m/%d') %></span></p>
	   <div class="review-i-c">
	   	<p class="m-review-title" >評価：<%= review.rank %><span><%= review.title %></span></p>
	   	<p class="m-review-desc"><%= review.description%></p>
	   </div>
	   <div class="review-menu">

	   	<% if review.user_id == current_user.id %>
	  		<p>
	  			<span class="u-count">役に立った:　<%=Like.where(review_id: review.id).count%>票</span>
	  			<%=link_to "編集・削除", review_path(review), class: 'r-button'%>
	  		</p>
	  	
	  	<%else%>
		
	  		<% if Like.find_by(user_id: current_user.id, review_id: review.id) %>
	  			役に立った:　<%=Like.where(review_id: review.id).count%>票 
	  			<%= link_to like_path(review), class: 'b', method: :delete do%>
	  				<span class="fa fa-heart review-hert-on"></span>
	  			<%end%>
	  			
	  		<%else%>
	  			役に立った:　<%=Like.where(review_id: review.id).count%>票
	  		  <%=link_to likes_path(review_id: review.id), class:'a', method: :post do%>
	  				<span class="fa fa-heart review-hert-off"></span>
	  		  <%end%>
	  		<%end%>
	  		
			<%end%>
		</div>
	 </li>
	</ul>

	<% end %>
	
  <div class="page">
     <%= paginate @reviews %>
  </div>
</div>
