<div class="review-index">
	<% if @review_rank.present? %>
  	<p class="review-index-rank">レビュー評価:　<span><%= @review_rank %></span></p>
  <%else%>
    <p class="review-index-rank">評価：<span>0.0</span></p>
    <p>レビューがありません</p>
  <%end%>
	
	<% @reviews.each do |review| %>
	<ul>
	 <li class="m-review-index">
	 	 <p class="m-review-name">投稿者：<%= review.name%><span>レビュー投稿日 : <%= review.created_at.strftime('%Y/%m/%d') %></span></p>
	   <div class="review-i-c">
	   	<p class="m-review-title" >評価：<%= review.rank %><span><%= review.title %></span></p>
	   	<p class="m-review-desc"><%= review.description%></p>
	   </div>
	 </li>
	</ul>
	<% if review.user_id == current_user.id %>
	  		<p class="m-review-title" ><%=link_to "編集・削除リンク", review_path(review)%></p>
	  	<%else%>
	  		<p class="m-review-title" >役に立った(ボタン実装)</p>
	<%end%>
	<% end %>
	
  <div class="page">
     <%= paginate @reviews %>
  </div>
</div>
