<div>
	<li>
	  <%= @review.name %>
	  <%= @review.title %>
	  <%= @review.description%>
	  <%=link_to "編集", edit_review_path(@review)%>
	  <%=link_to "削除", review_path(@review), {:method=> "delete", :class=>''}%>
	</li>
</div>