<header class="header">
   <button id=""></button>
     <p class="">
       <%= link_to "logo", "#" %>  
     </p>
   <nav class="nav">
     <div class="header_contents">
       <div class="panel">
        <section class="section sign_in">
          <h3 class="%">
            <%= link_to "Sign in", new_user_session_path %>
          </h3>
          <ul class="@@">
            <li class="%%">
              <%= link_to "パスワードを忘れた方", "#" %>
            </li>
            <li class="%%">
              <%= link_to "初めてご利用の方", "#" %>
            </li>
          </ul>
        </section>
       </div>
          
       <div class="panel">
         <section class="section products">
          <h3 class="%">
            <%= link_to "Products", "#" %>
          </h3>
          <ul class="@@">
            <li class="%%">
              <%= link_to "商品検索", "#" %>
            </li>
            <li class="%%">
              <%= link_to "イチオシ商品", "#" %>
            </li>
          </ul>
         </section>
       </div>
          
       <div class="panel">
         <section class="section about">
           <h3 class="%">
             <%= link_to "About", "#" %>
           </h3>
           <ul class="@@">
             <li class="%%">
               <%= link_to "当サイトに関する情報はこちら", "#" %>
             </li>
           </ul>
         </section>
         <section class="section contact">
           <h3 class="%">
             <%= link_to "Contact", "#" %>
           </h3>
           <ul class="@@">
             <li class="%%">
               <%= link_to "商品に関するお問い合わせはこちら", "#" %>
             </li>
           </ul>
         </section>
       </div>
          
       <div class="panel">
         <section class="section faq">
           <h3 class="%">
             <%= link_to "FAQ", "#" %>
           </h3>
           <ul class="@@">
             <li class="%%">
                <%= link_to "決済方法", "#" %>
             </li>
             <li class="%%">
                <%= link_to "注文から発送までの流れ", "#" %>
             </li>
             <li class="%%">
                <%= link_to "会員情報の変更など", "#" %>
             </li>
           </ul>
         </section>
       </div>
     </div>
    </nav>
</header>