<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div class="container">
      
      <%= render 'layouts/header' %>
      
      <div class="body-contents">
        <% flash.each do |key, value| %>
          <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
        <% end %>
      
        <%= yield %>
      </div>
       
      <%= render 'layouts/footer' %>
    
    </div>
  </body>
</html>
